<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars list</title>
</head>
<body>
<h1>Cars list</h1>
<p> Cars number: <span th:text="${#lists.size(cars)}">0</span></p>
<table>
    <tr>
        <th>Brand</th>
        <th>Color</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.color}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(cars)}">
        <td colspan="2">Cars list is empty!</td>
    </tr>
</table>
</body>
</html>